/utilites/asm_to_string/compile
/utilites/hack_multiply/compile
/utilites/lzs_unpacker/compile
/engine/build/obj
/engine/pcsxr/win32/.vs
build
/xeno/utilites/cd extractor/compile
/utilites/asm_to_string/.vs
/utilites/asm_to_string/*.user
/xeno/utilites/cd extractor/output/cdrom.bin
/xeno/utilites/cd extractor/output/cdrom.fig
/xeno/utilites/cd extractor/output/cdrom.mdg
/xeno/utilites/cd extractor/.vs
/xeno/utilites/cd extractor/*.user
/xeno/utilites/cd extractor/output/cdrom
/xeno/utilites/field exporter/output/cdrom
/xeno/utilites/field exporter/compile
/xeno/utilites/field exporter/.vs
/xeno/utilites/field exporter/output/*.pdb
/xeno/utilites/field exporter/*.user
/xeno/utilites/field exporter/output/fields_raw
/xeno/utilites/Field Exporter/output/fields_raw
/ffix/utilities/cd_extractor/compile/debug
/ffix/utilities/cd_extractor/output/FF9.IMG
/ffix/utilities/cd_extractor/.vs/cd_extractor/v17
/ffix/utilities/cd_extractor/output
/ffix/utilities/cd_extractor/.vs/Cd Extractor/FileContentIndex
/ffix/utilities/cd_extractor/.vs/Cd Extractor/v17
/ffix/utilities/cd_extractor/.vs/cd_extractor/FileContentIndex
/ffix/utilities/cd_extractor/cd_extractor.vcxproj
/ffix/utilities/cd_extractor/cd_extractor.vcxproj.user
