/utilites/asm_to_string/compile
/utilites/hack_multiply/compile
/utilites/lzs_unpacker/compile
/engine/build/obj
/engine/pcsxr/win32/.vs
build
/xeno/utilites/cd extractor/compile
/utilites/asm_to_string/.vs
/utilites/asm_to_string/*.user
/xeno/utilites/cd extractor/output/cdrom.bin
/xeno/utilites/cd extractor/output/cdrom.fig
/xeno/utilites/cd extractor/output/cdrom.mdg
/xeno/utilites/cd extractor/.vs
/xeno/utilites/cd extractor/*.user
/xeno/utilites/cd extractor/output/cdrom
/xeno/utilites/field exporter/output/cdrom
/xeno/utilites/field exporter/compile
/xeno/utilites/field exporter/.vs
/xeno/utilites/field exporter/output/*.pdb
/xeno/utilites/field exporter/*.user
/xeno/utilites/Field Exporter/output/fields_raw
/xeno/utilites/Field Exporter/output/fields_raw/*.mes
